.ProductOptions__container {
    margin-top: 100px;
}

.ProductOptions__image {
    max-height: 300px;
    max-width: 300px;
    margin: auto;
    padding: 20px;
}

.ProductOptions__description {
    font-size: 20px;
}

.ProductOptions__container-content {
    margin: 100px 0;
}

.ProductOptions__title {
    font-size: 42px;
    font-weight: 900;
    margin: -10px 0;
    color: #004CC4;
}

.ProductOptions__description-metas {
    font-size: 14px;
    margin-left: 5px;
    color: #33333395;
}

.ProductOptions__description-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.ProductOptions__btn-add-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #fff;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background-color: #004CC4;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.ProductOptions__btn-add-card:hover {
    background-color: #004CC4;
}

.ProductOptions__btn-size {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #004CC4;
    margin: 10px;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #004CC4;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.ProductOptions__btn-size-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    background: #004CC4;
    margin: 10px;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #004CC4;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.ProductOptions__btn-size:hover,
.ProductOptions__btn-size:active {
    color: #ffffff;
    background: #004CC4;
}

.ProductOptions__count-items {
    display: flex;
    min-width: 285px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    background: #004CC4;
}

.ProductOptions__count-items-counter {
    display: flex;
    min-width: 120px;
    flex-direction: column;
    background: #FFFFFF;
    padding: 2px;
    border-radius: 5px;
}

.ProductOptions__count-items-title {
    display: flex;
    text-align: center;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
}


/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .ProductOptions__title {
        font-size: 26px;
        font-weight: 900;
        margin: 0 0 -5px 0;
        color: #004CC4;
    }
    .ProductOptions__description-content {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 16px;
    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .ProductOptions__title {
        font-size: 26px;
        font-weight: 900;
        margin: 20px 0 0 0;
        text-align: center;
        color: #004CC4;
    }

    .ProductOptions__description-metas {
        font-size: 14px;
        text-align: center;
        color: #33333395;
    }

    .ProductOptions__description-content {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 18px;
    }
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
    .ProductOptions__description-content {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 12px;
    }
}


.Toast__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #00000050;
}

.Toast__container-image {
    width: 200px;
}

.Toast__container-title {
    color: #004CC4;
    font-weight: 900;
    font-size: 26px;
}

a.Toast__container-btn {
    cursor: pointer;
}
