.Float__root {
    z-index: 1000;
    position: fixed;
    width: 100px;
    transition: all 300ms ease-in-out;
}

.Float__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #004CC4;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 100%;
    border: 3px solid #FFFFFF;
}

.Float__btn-content {
    color: #FFFFFF;
    font-size: 20px;
}

.Float__btn-profile {
    animation-delay: 400ms;
}

.Float__btn-card {
    animation-delay: 600ms;
}

.Float__btn-location {
    animation-delay: 800ms;
}

.Float__btn-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #004CC4;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 100%;
    border: 3px solid #FFFFFF;
}

.Float__btn-cart_number {
    display: flex;
    z-index: 99999;
    margin-bottom: -10px;
    margin-left: 13px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #004CC4;
    color: #004CC4;
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border-radius: 100px;
    font-weight: 900;
    font-size: 10px;
}

/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .Float__btn {
        height: 50px;
        width: 50px;
    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .Float__btn {
        height: 50px;
        width: 50px;
    }
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
    .Float__root {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        z-index: 1000;
        position: fixed;
        background-color: #FFFFFF90;
        padding: 5px;
        width: 100%;
        height: 70px;
        bottom: 0;
        transition: all 300ms ease-in-out;
    }

    .Float__btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        margin: 5px;
        border-radius: 100%;
    }

    .Float__btn-content {
        color: #FFFFFF;
        font-size: 20px;
    }
}
