.WelcomePage__root {
}

.WelcomePage__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.WelcomePage__logo {
    width: 300px;
}

.WelcomePage__title {
    margin-top: 30px;
    font-size: 16px;
}

.WelcomePage__row {
    display: flex;
    flex-direction: row;
}

.WelcomePage__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.WelcomePage__item a {
    color: #004cc4;
    font-weight: 900;
    transition: 0.3s;
}

.WelcomePage__item a:hover,
.WelcomePage__item a:active {
    color: #004cc4;
    transform: scale(1.2);
    text-decoration: none;
}


.WelcomePage__logo {
    font-weight: 900;
    color: #004cc4;
    font-size: 40px;
    margin-top: -50px;
    margin-bottom: 50px;
}
