.ClientPet__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 400ms;
    border-radius: 20px;
    cursor: pointer;
    color: #014cc4;
    border: 2px solid #014cc4;
}

.ClientPet__btn-active {
    background: #014cc4;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 400ms;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #014cc4;
}

.ClientPet__btn:hover,
.ClientPet__btn:active {
    background: #014cc4;
    color: #FFFFFF;
    border: 2px solid #014cc4;
}

.ClientPet__btn span {
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
}

.ClientPet__btn-active span {
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
}

.ClientPet__btn-icon {
    font-size: 40px;
}
