.Login__main {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #1d5d9050;
}

/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .Login__image {
        display: none;
    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .Login__image {
        display: none;
    }
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
    .Login__image {
        display: none;
    }
}
