.DashboardSideBar__main {
    background: #014cc4;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.DashboardSideBar__main-nav-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0;
}

.DashboardSideBar__main-nav-item a {
    width: 100%;
    background: #014cc4;
    padding: 10px 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.DashboardSideBar__main-nav-item a:hover,
.DashboardSideBar__main-nav-item a:active {
    width: 100%;
    background: #FFFFFF10;
    padding: 10px 20px;
    font-weight: bold;
    color: #FFFFFF;
}
