.Checkout__main {
    padding-left: 20px;
    padding-right: 20px;
}

.Checkout__BTN_Active {
    background: #014cc4;
    color: #FFFFFF;
}

.Checkout__BTN {
    background: transparent;
    color: #014cc4;
}

.Checkout__BTN:hover,
.Checkout__BTN:active {
    background: #014cc4;
    color: #FFFFFF;
}

.Checkout__BTN_Active,
.Checkout__BTN {
    padding: 10px 20px;
    font-size: 16px;
    transition: 500ms;
    margin-bottom: 20px;
    border-radius: 10px;
    border: #014cc4 solid 2px;
}
