.Header-Top__container {
    padding-top: 15px;
    padding-bottom: 10px;
}

.Header-Top__text {
    font-size: 16px;
}

.Header-Top__icon {
    margin-left: 10px;
}

h3.Header-Top__text a {
    color: #FFFFFFAC;
    transition: 200ms;
}

h3.Header-Top__text a:hover,
h3.Header-Top__text a:active {
    color: #FFFFFF;
}

/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .Header-Top__container {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .Header-Top__text {
        font-size: 16px;
    }

    .Header-Top__icon {
        margin-left: 10px;
    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .Header-Top__container {
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: center;
    }

    .Header-Top__text {
        font-size: 16px;
    }

    .Header-Top__icon {
        margin-left: 10px;
    }
    .select {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
    .Header-Top__container {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .Header-Top__text {
        font-size: 12px;
    }

    .Header-Top__icon {
        margin-left: 10px;
    }
    .select {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #FFFFFF;
    background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 2em;
    line-height: 2;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}
select {
    flex: 1;
    padding: 0 .5em;
    color: #333333;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #F0F0F0;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: #888888;
}
