/* Clearfix */
.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

a#pull {
    display: none;
    padding: 0 81px;
    border-radius: 10px;
    color: #FFFFFF;
}

/*a#pull:hover, a#pull:active {*/
/*    color: #FFFFFFD0;*/
/*}*/

nav {
    height: 40px;
    width: 100%;
    position: relative;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    max-width: 700px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    line-height: 40px;
}

nav li a:hover, nav li a:active {
    /*border-bottom: 2px solid #576979;*/
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    text-decoration: none;
    background: #33333310;
    border-radius: 10px;
}


@media only screen and (max-width : 770px) {
    nav {
        border-bottom: 0;
        height: auto;
        background: #33333305;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    nav ul {
        display: none;
        height: auto;
        width: 100%;
    }

    nav li {
        width: 50%;
        float: left;
        position: relative;
    }

    nav a {
        width: 100%;
        text-align: center;
    }

    nav a#pull {
        display: block;
        width: 100%;
        position: relative;
    }
}

/*Modal-Box*/
.mobile-menu {
    display: none;
}

.mobile-menu-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    animation-duration: 0.4s;
    background-color: #FFFFFF;
}

.mobile-menu-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.mobile-menu-pages {
    margin-bottom: 50px;
}


/*Navigation Inner Styling*/
.nav ul li a:hover{
    text-decoration: none;
    color: #B64926;
}

.nav ul li a{
    padding:1em;
    text-transform: uppercase;
    font-weight: 700;
    font-size:3vw;
    letter-spacing: -0.05em;
}

.nav ul li{
    display: inline-block;
    font-size: 3em;
}

.nav ul{
    clear: both;
    width: 100%;
    text-align: center;
}

/*Mobile Optimization*/
/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .nav ul li{
        display: block;
        height: 45px;
    }

    .nav ul {
        clear: both;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .nav ul li a {
        padding: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 6vw;
        letter-spacing: -0.05em;
    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .nav ul li{
        display: block;
        height:38px;
    }

    .nav ul {
        clear: both;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .nav ul li a {
        padding: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 6vw;
        letter-spacing: -0.05em;
    }
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
    .nav ul li{
        display: block;
        height:38px;
    }

    .nav ul {
        clear: both;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .nav ul li a {
        padding: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 10vw;
        letter-spacing: -0.05em;
    }
}
