.HeaderSearch__buttom {
    border-radius: 10px;
}

.HeaderSearch__icon {
    color: #FFFFFF;
}

.HeaderSearch__content {
    border-radius: 10px;
    background-color: #33333310;
}

.HeaderSearch__content:hover {
    background-color: #33333320;
}

input[type=text]:focus {
    border: 0;
    background-color: transparent;
    border-radius: 4px;
}

input[type=text]::placeholder {
    color: #33333390;
}

input[type=text].HeaderSearch__input {
    border: 0;
    background: transparent;
    color: #33333390;
    margin: 0;
}
