.Header__logo {
    font-size: 72px;
    font-weight: 900;
    padding: 50px 0 10px 0;
    text-align: center;
}

.Header__logo a,
.Header__logo a:hover,
.Header__logo a:active {
    text-decoration: none;
}

/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .Header__logo {
        font-size: 72px;
    }
    .Header__logo a,
    .Header__logo a:hover,
    .Header__logo a:active {
        text-decoration: none;
    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .Header__logo {
        font-size: 68px;
    }
    .Header__logo a,
    .Header__logo a:hover,
    .Header__logo a:active {
        text-decoration: none;
    }
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
    .Header__logo {
        font-size: 44px;
    }
    .Header__logo a,
    .Header__logo a:hover,
    .Header__logo a:active {
        text-decoration: none;
    }
}
