.NotFound__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.NotFound__image {
    height: 100%;
    max-height: 500px;
}

.NotFound__text {
    color: #004cc4;
}

.NotFound__text h1 {
    font-weight: 900;
}
