.AppDetails__container {
    padding: 50px 0;
}

.AppDetails__text {
    margin-top: 30px;
    font-size: 28px;
}

.AppDetails__android-logo {
    margin-top: 20px;
    height: 60px;
    max-width: 400px;
}

.AppDetails__ios-logo {
    margin-top: 20px;
    height: 60px;
    max-width: 400px;
    margin-left: 10px;
}

/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .AppDetails__text {
        margin-top: 30px;
        font-size: 18px;
    }
    .AppDetails__android-logo {
        margin-top: 20px;
        height: 40px;
        max-width: 400px;
    }

    .AppDetails__ios-logo {
        margin-top: 20px;
        height: 40px;
        max-width: 400px;
        margin-left: 10px;
    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .AppDetails__text {
        margin-top: 30px;
        font-size: 28px;
    }
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
    .AppDetails__text {
        margin-top: 30px;
        font-size: 18px;
    }
    .AppDetails__playstore-logo {
        width: 100%;
        margin-top: 10px;
        max-width: 200px;
    }
}
