.ServicesDetails__main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
}

.ServicesDetails__container {
    padding: 20px;
    height: 100%;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    background: #33333370;
}
