.ShoppingOrders__main {
    margin-bottom: 20px;
}

.ShoppingOrders__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000015;
    color: #000000;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 12px;
}

.ShoppingOrders__remove {
    display: flex;
    flex-direction: row;
}

.ShoppingOrders__remove a {
    transition: 300ms;
    margin: 3px;
}

.ShoppingOrders__remove a:hover,
.ShoppingOrders__remove a:active {
    color: #c9593780;
}


.ShoppingOrders__data div span {
    font-size: 26px;
}
