.Footer__border-container {
    height: 40px;
}

.Footer__container-dark {
    background-color: #333333;
    color: #FFFFFF;
    padding: 20px;
}

.Footer__container-dark-text {
    font-size: 20px;
}

.Footer__container-dark-icon {
    font-size: 60px;
}

.Footer__container-dark-icon a {
    color: #FFFFFF8A;
}

.Footer__container-dark-icon a:hover,
.Footer__container-dark-icon a:active {
    color: #FFFFFF;
}

.Footer__container-dark-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Footer__container-dark-text-copyright {
    font-size: 18px;
    text-align: center;
}

.Footer__container-dark-text-copyright a {
    text-decoration: none;
    color: #FFFFFF90;
    transition: 0.2s;
}

.Footer__container-dark-text-copyright a:hover,
.Footer__container-dark-text-copyright a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .Footer__container-dark-text {
        font-size: 16px;
    }
    .Footer__container-dark-icon {
        font-size: 30px;
    }
    .Footer__container-dark-text-copyright {
        font-size: 20px;
    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .Footer__container-dark-text {
        font-size: 20px;
    }
    .Footer__container-dark-icon {
        font-size: 30px;
    }
    .Footer__container-dark-text-copyright {
        font-size: 14px;
    }
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
    .Footer__container-dark-text {
        font-size: 12px;
    }
    .Footer__container-dark-icon {
        font-size: 30px;
    }
    .Footer__container-dark-text-copyright {
        font-size: 12px;
    }
}
