.Service__main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.Service__contact-form {
    background: #FFFFFF;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #004cc450;
}

.Service__sidebar-blue {
    background: #004cc4;
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: #FFFFFF;
}
.Service__sidebar-price {
    background: #e17055;
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: #FFFFFF;
}

.Service__sidebar-price h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: -10px;
}

.Service__sidebar-price span {
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: -10px;
}

.Service__select {
    background: #00000010;
    padding: 10px 20px;
}
