/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {

}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {

}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {

}
