.BrandSlider__main {
    background: #004cc4;
    border-radius: 20px;
    padding: 20px;
}

.BrandSlider__container {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 10px;
    height: 120px;
}

/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .BrandSlider__left {

    }

    .BrandSlider__right {

    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .BrandSlider__image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .BrandSlider__left {
        max-width: 220px;
        margin-bottom: 20px;
    }
    .BrandSlider__right {
        width: 0;
    }
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
    .BrandSlider__left {
        width: 200px;
        margin-bottom: 20px;
    }
    .BrandSlider__right {
        width: 0;
    }
}
