.ProductElement__container {
    margin-bottom: 30px;
    margin-top: 50px;
}

.ProductElement__main {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 2px 3px 10px rgba(0,76,196, .5);
}

.ProductElement__image {
    border-radius: 5px 5px 0 0;
}

.ProductElement__content {
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
}

.ProductElement__title {
    font-size: 14px;
}

.ProductElement__resume {
    font-family: 'Nunito', sans-serif;
    margin-top: -5px;
    font-size: 30px;
    font-weight: 900;
}
