.Services__text {
    font-size: 36px;
    color: #FFFFFF;
}

.Services__icon {
    border-radius: 100%;
    background: #FFFFFF;
    width: 80px;
    height: 80px;
    margin: 5px;
}

/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .Services__text {
        font-size: 28px;
        color: #FFFFFF;
    }

    .Services__icon {
        border-radius: 100%;
        background: #FFFFFF;
        width: 60px;
        height: 60px;
        margin: 5px;
    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .Services__text {
        font-size: 22px;
        color: #FFFFFF;
    }

    .Services__icon {
        border-radius: 100%;
        background: #FFFFFF;
        width: 50px;
        height: 50px;
        margin: 5px;
    }
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
    .Services__text {
        font-size: 16px;
        color: #FFFFFF;
    }

    .Services__icon {
        border-radius: 100%;
        background: #FFFFFF;
        width: 40px;
        height: 40px;
        margin: 5px;
    }
}
