.GridProducts__next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.GridProducts__next a {
    background-color: #33333315;
    color: #333333;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    transition: 0.3s;
}

.GridProducts__next a:hover,
.GridProducts__next a:active {
    background-color: #004cc4;
    color: #FFFFFF;
    text-decoration: none;
}
