.CardCategory__root {
    margin: 10px;
}

.CardCategory__container {
    background: #FFFFFF;
    padding: 15px 0;
    border-radius: 15px;
    border: 2px solid #004CC4;
}

.CardCategory__image {
    height: 100px;
    width: 100px;
    margin: -10px;
    border-radius: 10px;
}

.CardCategory__title {
    font-size: 25px;
    font-weight: 700;
    color: #004CC4;
    padding-left: 10px;
}
