.CardLastProduct__root {
    /*margin: 5px;*/
}

.CardLastProduct__container {
    background: #004cc4;
    border-radius: 10px;
}

.CardLastProduct__header {
    border-radius: 10px;
    box-shadow: 2px 1px 8px #004cc480;
    margin-top: 20px;
    background: #FFFFFF;
}

.CardLastProduct__image {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    padding: 20px 0 65px 0;
}

.CardLastProduct__options {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
}

.CardLastProduct__options-container {
    padding: 10px;
}

.CardLastProduct__options-title {
    color: #333333;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: -8px;
    text-transform: uppercase;
}

.CardLastProduct__options-subtitle {
    color: #333333;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
}

.CardLastProduct__options-btn {
    display: flex;
    flex-direction: column;
}

.CardLastProduct__header-content {
    position: absolute;
    color: #FFFFFF;
    background: #e74c3c;
    border-radius: 5px;
    top: 10px;
    right: 25px;
    padding: 10px 0;

}

.CardLastProduct__content {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #004cc4;
    color: #FFFFFF;
    transition: .3s;
    box-shadow: 3px 2px 10px #004cc480;
}

.CardLastProduct__content:hover,
.CardLastProduct__content:active {
    background: #004cc4A0;
    color: #FFFFFF;
}

.CardLastProduct__content a,
.CardLastProduct__content a:hover,
.CardLastProduct__content a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.CardLastProduct__content-title {
    font-size: 10px;
    text-transform: uppercase;
}

.CardLastProduct__content-btn {
    color: #FFFFFF;
    font-size: 25px;
}

.CardLastProduct__options-btn-primary {
    font-size: 20px;
    color: #FFFFFF;
    background-color: #004cc4;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.CardLastProduct__content-price {
    margin-top: -5px;
    font-size: 20px;
    font-weight: 900;
}
