.CardService__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    border-radius: 20px;
    background-color: #004cc4;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.CardService__container-text {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.CardService__container-title,
.CardService__container-title:hover,
.CardService__container-title:active {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 7px;
    margin-left: 10px;
}

.CardService__container-icon {
    font-size: 40px;
}

.CardService__container-text-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #333333;
    padding: 10px 20px;
    border-radius: 10px;
}
