.Product__root {
    /*margin: 5px;*/
}

.Product__container {
    background: #004cc4;
    border-radius: 10px;
}

.Product__header {
    border-radius: 10px;
    box-shadow: 2px 1px 8px #004cc480;
    margin-top: 20px;
    background: #FFFFFF;
}

.Product__image {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    padding: 20px;
}

.Product__options {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #33333390;
    border-radius: 0 0 10px 10px;
}

.Product__options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.Product__options-title {
    color: #FFFFFF;
    font-size: 16px;
}

.Product__options-btn {
    display: flex;
    flex-direction: column;
}

.Product__header-content {
    position: absolute;
    color: #FFFFFF;
    background: #e74c3c;
    border-radius: 5px;
    top: 10px;
    right: 25px;
    padding: 10px 0;

}

.Product__content {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #004cc4;
    color: #FFFFFF;
    transition: .3s;
    box-shadow: 3px 2px 10px #004cc480;
}

.Product__content:hover,
.Product__content:active {
    background: #004cc4A0;
    color: #FFFFFF;
}

.Product__content a,
.Product__content a:hover,
.Product__content a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.Product__content-title {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.Product__content-btn {
    color: #FFFFFF;
    font-size: 25px;
}

.Product__options-btn-primary {
    font-size: 20px;
    color: #FFFFFF;
    background-color: #004cc4;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.Product__content-price {
    margin-top: -5px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
