.CardSelectorItem__main a,
.CardSelectorItem__main a:hover,
.CardSelectorItem__main a:active {
    text-decoration: none;
}

.CardSelectorItem__root {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 330px;
}

.CardSelectorItem__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 95%;
    width: 100%;
}

.CardSelectorItem__title {
    display: flex;
    padding: 5px 20px;
    border-radius: 13px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background: #333333;
    color: white;
    font-weight: 900;
    font-size: 30px;
}

/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .CardSelectorItem__root {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 220px;
    }

    .CardSelectorItem__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 95%;
        width: 100%;
    }

    .CardSelectorItem__title {
        display: flex;
        padding: 5px 15px;
        border-radius: 13px;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        background: #333333;
        color: white;
        font-weight: 700;
        font-size: 18px;
    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .CardSelectorItem__root {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 270px;
        margin-bottom: 30px;
    }

    .CardSelectorItem__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 95%;
        width: 100%;
    }

    .CardSelectorItem__title {
        display: flex;
        padding: 5px 20px;
        border-radius: 13px;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        background: #333333;
        color: white;
        font-weight: 900;
        font-size: 30px;
    }
}
