.CardCategory__Link a:hover,
.CardCategory__Link a:active {
    text-decoration: none;
}

.CategorySelector__root {
    margin-top: 20px;
    margin-bottom: 30px;
}

.CategorySelector__container {
    border: 2px solid #004CC4;
    border-radius: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.CategorySelector__title {
    font-weight: 900;
    margin-bottom: 20px;
    color: #004CC4;
}
