.TitleSubtitle__subtitle {
    font-family: 'Nunito', sans-serif;
    color: #004cc4;
    font-size: 25px;
    margin-bottom: -5px;
}

.TitleSubtitle__title {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 900;
    color: #004cc4;
}

/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .TitleSubtitle__subtitle {
        font-size: 18px;
        margin-bottom: -5px;
    }

    .TitleSubtitle__title {
        font-size: 32px;
        margin-bottom: 30px;
    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .TitleSubtitle__subtitle {
        font-size: 16px;
        margin-bottom: -5px;
    }

    .TitleSubtitle__title {
        font-size: 28px;
        margin-bottom: 30px;
    }
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
    .TitleSubtitle__subtitle {
        font-size: 12px;
        margin-bottom: 0;
    }

    .TitleSubtitle__title {
        font-size: 22px;
        margin-bottom: 30px;
    }
}
