.Title__text {
    color: #004cc4;
    font-size: 56px;
    font-weight: 900;
    margin-bottom: 30px;
}

/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {
    .Title__text {
        font-size: 48px;
    }
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {
    .Title__text {
        font-size: 38px;
    }
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
    .Title__text {
        font-size: 28px;
    }
}
